/* width */
::-webkit-scrollbar {
    width: 4px;
    opacity: 0.5;
    -webkit-transition: width 800ms ease;
    -moz-transition: width 800ms ease;
    -ms-transition: width 800ms ease;
    -o-transition: width 800ms ease;
    transition: width 400ms ease;
    transition-delay: 1s;
    transition: opacity 1s ease-in-out;
}
/* Hover */
::-webkit-scrollbar:hover {
    width: 12px;
    opacity: 1;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6d7faeb4;
    border-radius: 5px;
    -webkit-transition: background 800ms ease-in-out;
    -moz-transition: background 800ms ease-in-out;
    -ms-transition: background 800ms ease-in-out;
    -o-transition: background 800ms ease-in-out;
    transition: background 400ms ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6d7fae;
}
